In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.4'

In [4]:
cities = ['Gdańsk', "Poznań", "Wrocław", "Warszawa", "Radom", "Sosnowiec"]
serie = pd.Series(cities)
serie

0       Gdańsk
1       Poznań
2      Wrocław
3     Warszawa
4        Radom
5    Sosnowiec
dtype: object

In [6]:
#dostęp do danych
serie.values

array(['Gdańsk', 'Poznań', 'Wrocław', 'Warszawa', 'Radom', 'Sosnowiec'],
      dtype=object)

In [11]:
list(serie.index)

[0, 1, 2, 3, 4, 5]

In [13]:
cities = ['Gdańsk', "Poznań", "Wrocław", "Warszawa", "Radom", "Sosnowiec"]
plates = ['GD', "PO","DW","WI","WRA","so"]
serie = pd.Series(cities, plates)
serie

GD        Gdańsk
PO        Poznań
DW       Wrocław
WI      Warszawa
WRA        Radom
so     Sosnowiec
dtype: object

In [17]:
serie.index

Index(['GD', 'PO', 'DW', 'WI', 'WRA', 'so'], dtype='object')

In [23]:
#reguła 3s - > start stop index

In [25]:
#wprowadzam dane
countries =["Poland","Germany", "Russia", "USA", "UK"]
population = [38_321_543, 84_123_567, 150_765_222, 320_987_654,62_123_456]
serie = pd.Series(population, countries )
serie

Poland      38321543
Germany     84123567
Russia     150765222
USA        320987654
UK          62123456
dtype: int64

In [34]:
#filtrowanie serii -> tworze wyrażenie przez określenie warunku jeżeli bardziej złożone to potrzebny operatory bitwise
serie>80_000_000

Poland     False
Germany     True
Russia      True
USA         True
UK         False
dtype: bool

In [35]:
#indeksuje serie wyrażeniem
serie[serie>80_000_000]

(Germany     84123567
 Russia     150765222
 USA        320987654
 dtype: int64,)

In [36]:
#konwersja wartości opisowej na wartość numeryczną H, M, L

Poland      38321543
Germany     84123567
Russia     150765222
USA        320987654
UK          62123456
dtype: int64

In [37]:
def convert_pop(x):
    if x <50_000_000:
        return "L"
    if x<100_000_000:
        return "M"
    return "H"

In [40]:
convert_pop(115_123_123)

'H'

In [47]:
labels=serie.apply(convert_pop,countries)
serie/1_000_000

Poland      38.321543
Germany     84.123567
Russia     150.765222
USA        320.987654
UK          62.123456
dtype: float64

In [49]:
serie.apply(lambda x: f'{x/1_000_000:.2f} mln')

Poland      38.32 mln
Germany     84.12 mln
Russia     150.77 mln
USA        320.99 mln
UK          62.12 mln
dtype: object

In [51]:
serie.sort_values(ascending=False)

USA        320987654
Russia     150765222
Germany     84123567
UK          62123456
Poland      38321543
dtype: int64

In [52]:
serie.sort_index(ascending=False)

USA        320987654
UK          62123456
Russia     150765222
Poland      38321543
Germany     84123567
dtype: int64

In [53]:
#mapowanie 
serie = pd.Series(["PL","UK","RU"])
serie

0    PL
1    UK
2    RU
dtype: object

In [56]:
countries_map= {
    "PL":"Poland",
    "UK":"The United Kingdom",
   #"RU":"Russia"
}

In [57]:
serie.map(countries_map)

0                Poland
1    The United Kingdom
2                   NaN
dtype: object

In [58]:
#zrobić tak żeby nie było wartości pustych
#trzeba zrobić własną klasę dziedziczącą po słowniku

In [59]:
#wprowadzam dane
countries =["Poland","Germany", "Russia", "USA", "UK"]
population = [38_321_543, 84_123_567, 150_765_222, 320_987_654,62_123_456]
serie = pd.Series(population, countries )
serie

Poland      38321543
Germany     84123567
Russia     150765222
USA        320987654
UK          62123456
dtype: int64

## lokalizaowanie danych w serii

In [69]:
serie["Poland"], serie.loc['Poland'], serie.Poland, serie[0],serie.iloc[0]

(38321543, 38321543, 38321543, 38321543, 38321543)

In [73]:
serie[0:4], serie.loc["Poland":"USA"], serie.iloc[0:4]

(Poland      38321543
 Germany     84123567
 Russia     150765222
 USA        320987654
 dtype: int64,
 Poland      38321543
 Germany     84123567
 Russia     150765222
 USA        320987654
 dtype: int64,
 38321543)

In [74]:
serie.loc[["Poland","USA"]]

Poland     38321543
USA       320987654
dtype: int64

In [75]:
serie.loc[["USA","Poland"]]

USA       320987654
Poland     38321543
dtype: int64

In [78]:
serie.loc["Poland":"USA":2]

Poland     38321543
Russia    150765222
dtype: int64

In [79]:
#mogę podać listę offsetów które mnie interesują
serie.iloc[[1,-1]]

Germany    84123567
UK         62123456
dtype: int64

In [80]:
serie.iloc[[-1]]

UK    62123456
dtype: int64